.StudentListContainer {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 250px;
}

.student-title-container {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.student-container {
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    margin: 5px;
    display: block;
    padding: 10px;
    max-width: 7rem;
    align-items: center;
    text-align: center;
}

.student-container:hover {
    background-color: #f5f5f5;
}